<h1>Edit User</h1>
<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :profile_pic %>
  <%= f.file_field :profile_pic %><br>
  <%= f.submit %>
<% end %>
