<h1>Profile Info</h1>
<%= image_tag @user.profile_pic %>
<p>Hello, <%= @user.name %>.</p>
<p>Username: <%= @user.username %></p>
<br>
<%= button_to "Edit Profile", edit_user_path(@user), method: :get %>
<%= button_to "Delete Profile", user_path(@user), data: {:confirm => "Are you sure you want to delete your profile? \nThis cannot be undone."}, method: :delete %>
<hr>
<br>
<h2>All of <%= @user.username %>'s Posts</h2>
<ul>
<% @posts.each do |post| %>
  <li><%= "#{post.caption[0..15]}..." %> <%= link_to "See Post", post_path(post)%></li>
<% end %>
</ul>
