<h1>My Timeline</h1>
<div class="feed_container justify-content-center">
  <div class="row">
    <div class="card-deck" style="align-content: space-evenly;">
    <% @array.each do |item| %>
        <div class="col-sm-4">
          <div class="card mb-3">
            <div class="card-body">
              <%= link_to item[:user].username, item[:user] %> <%= item[:action] %>
              <a href="<%= post_path(item[:post]) %>"><%= image_tag item[:post].image, class:"rounded card-img-top shadow" %></a>

          <blockquote>
            <br>
            <h2>
              "<%= item[:post].caption %>"
            </h2>
            <footer class=""><%= link_to item[:post].user.username, user_path(item[:user]) %><br><%= time_ago_in_words(item[:created_at]) %> ago</footer>
          </blockquote>

            </div>
          </div>
        </div>
            <% end %>
      </div>
