<h1>My Timeline</h1>

<% @posts.each do |post|  %>

<div class="post_container">
  <div class="row">
  <div class="posts col-sm">
    <div class="post_user_div">
      <%= link_to post.user.username, user_path(post.user) %>
    </div>
    <div class="post_img_div">
      <%= image_tag post.image, class: "post_img" %>
    </div>
    <div class="post_caption_div">
      <%= link_to post.caption, post_path(post), class: "post_caption" %>
    </div>
  </div>

  <div class="comments col-sm">
    <h3>Comments</h3>
    <div class="all_comments">
      <% post.comments.each do |comment| %>
      <%= link_to comment.user.username, user_path(comment.user) %> :
      <br>
      <%= comment.contents %>
      <br>
      <% end %>
    </div>
    <%= form_for @comment do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :post_id, value: post.id %>
    <%= f.text_area :contents %>

    <%= f.submit "⇨" %>
    <% end %>
  </div>
  </div>
</div>
  <hr>
<% end %>
