<h1>New Post</h1>
<%= form_for @post do |f| %>
  <%= f.label :image %>
  <%= f.text_field :image, autocomplete: :off %><br>
  <%= f.label :caption %>
  <%= f.text_field :caption %><br>
  <%= f.hidden_field :user_id, value: current_user.id %>

    <label for="post[category_names][]">Categories</label>
    <input name="post[category_names][]" list="categories_autocomplete" >
    <input name="post[category_names][]" list="categories_autocomplete" >
    <input name="post[category_names][]" list="categories_autocomplete" >

    <datalist id="categories_autocomplete">
      <% @categories.each do |category| %>
        <option value="<%= category.name %>">
      <% end %>
    </datalist>


  <%= f.submit %>
<% end %>
