<blockquote class="blockquote">
  <h1 class="mb-0"><%= @post.caption %></h1>
</blockquote>

<div class="post_show_wrapper">
  <div class="post_show_left">
    <!-- making some crazy stuff -->
    <div class="card mb-3" style= "width: 20rem;">
      <div class="flip-container interests" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">

				      <div class="front">
                <%= image_tag @post.image, class: "post_img" %>
                <%= @post.caption %>
              </div>

              <div class="back">
                <h3 class= "post_cat">Categories</h3>
                <!-- <ul style="list-style: none;"> -->
                  <% @categories.each do |category|%>
                  <p><%= category.name %></p>
                <!-- </ul> -->
                <% end %>
              </div>
        </div>
      </div>
    </div>



    <!-- end of crazy stuff -->
    <% if @liked %>
    <div class="liked">
      <%= link_to "Unlike", like_path(@liked), method: :delete  %>
      <i class="fa fa-thumbs-o-up" style="font-size:24px"></i> + <%= @number_of_likes %>
      <!-- <div class="edit_delete"> -->
        <% if current_user == @user %>
          <%= link_to "Edit Post", edit_post_path(@post), method: :get %>
          <i class="fa fa-pencil" aria-hidden="true" style="font-size:24px"></i>

          <%= link_to "Delete Post", post_path(@post), data: {:confirm => "Are you sure you want to delete this post? \nThis cannot be undone."}, method: :delete %>
          <i class="fa fa-trash-o" aria-hidden="true" style="font-size:24px"></i>
        <% end %>
      <!-- </div> -->
    </div>
    <% else %>
    <%= form_for @like do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id%>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.submit "Like" %> + <%= @number_of_likes %>
    <% end %>
    <% end %>


  </div>




  <div class="post_show_right">
    <div class="all_comments">
      <% @post.comments.each do |comment| %>
      <%= link_to comment.user.username, user_path(comment.user) %> :
      <br>
      <%= comment.contents %>
      <br>
      <% end %>
    </div>

    <br>
    <%= form_for @comment do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.text_area :contents %>

    <%= f.submit "⇨" %>
    <% end %>
  </div>
</div>

<hr>

<footer class="blockquote-footer">Posted by: <%= link_to @user.username, user_path(@user) %></footer>
