<h1><%= @post.caption %></h1>
<h4>Posted by: <%= link_to @user.username, user_path(@user) %></h4>
<%= image_tag @post.image %>

<ul>
<% @categories.each do |category|%>
<li><%= category.name %></li>
<% end %>
</ul>
<br>
<hr>
<%= button_to "Edit Post", edit_post_path(@post), method: :get %>
<%= button_to "Delete Post", post_path(@post), data: {:confirm => "Are you sure you want to delete this post? \nThis cannot be undone."}, method: :delete %>
