<!DOCTYPE html>
<html>
  <head>
    <title>OhSnap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2>ÖhSnap</h2>
    <h3><%= link_to "+ Post", new_post_path %> • <%= link_to "Timeline", posts_path %> • <%= link_to "All Users", users_path %></h3>
    <hr>
    <br>
    <%= yield %>
  </body>
</html>
